In [1]:
import pandas as pd

In [2]:
table = pd.read_csv('E:/XacSuatThongKe/DuLieuThucHanh/Du_lieu/HocSinh.csv')
print(table)

     Unnamed: 0 GioiTinh  Lop  Tuoi      NoiO  HocLuc  TheThao  HinhThuc
0             1      Nam    5    11    NgoaiO       1        2         4
1             2      Nam    5    10    NgoaiO       2        1         4
2             3       Nu    5    11    NgoaiO       4        3         1
3             4       Nu    5    11    NgoaiO       2        3         4
4             5       Nu    5    10    NgoaiO       4        2         1
..          ...      ...  ...   ...       ...     ...      ...       ...
470         471      Nam    6    11  NoiThanh       4        1         2
471         472      Nam    6    11  NoiThanh       4        1         2
472         473      Nam    6    11  NoiThanh       4        2         1
473         474      Nam    6    11  NoiThanh       4        1         3
474         475      Nam    6    11  NoiThanh       4        1         2

[475 rows x 8 columns]

Lấy ra dữ liệu ở cột thứ 3 (Tuoi)

In [3]:
data_column_tuoi = table['Tuoi']
print(data_column_tuoi)

0      11
1      10
2      11
3      11
4      10
       ..
470    11
471    11
472    11
473    11
474    11
Name: Tuoi, Length: 475, dtype: int64

Lấy ra toàn bộ dữ liệu ở dòng thứ 10

In [4]:
data_10th_row = table.iloc[10-1, :]
print(data_10th_row)

Unnamed: 0        10
GioiTinh          Nu
Lop                5
Tuoi              10
NoiO          NgoaiO
HocLuc             4
TheThao            3
HinhThuc           2
Name: 9, dtype: object

Tính số học sinh nữ, nam.

In [5]:
so_luong_hoc_sinh = table.GioiTinh.value_counts()
print(so_luong_hoc_sinh)

GioiTinh
Nu     248
Nam    227
Name: count, dtype: int64

Tính tỷ lệ học sinh có mức độ yêu thích thể thao là 4. Tính tỷ lệ này trong nhóm

học sinh nam, trong nhóm học sinh nữ.

In [6]:
table_the_thao_nam_nu = pd.crosstab(table.GioiTinh, table.TheThao, normalize=True)
print(table_the_thao_nam_nu[4])

GioiTinh
Nam    0.018947
Nu     0.077895
Name: 4, dtype: float64